openapi: 3.0.1
info:
  title: STD21059 API
  description: 'Global description of my API'
  version: 1.0.0
servers:
 - url: https://STD21059.com
tags: 
 - name: Students
   
 - name: Courses
paths:
 /students:
    get:
      tags:
        - Students
      operationId: getStudents
      summary: Get all students
      description: Get all students with details
      responses:
        200: 
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Student'
        400:
          description: Bad request
    post: 
      tags:
        - Students
      operationId: createStudent
      summary : Create new student
      description: Create new student
      requestBody:
        description: Student to be created
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudent'
        required: true
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'
        400:
          description: Bad request
 /courses:
    get:
      tags:
        - Courses
      operationId: getCourses
      summary: Get all courses
      description: Get all courses with details
      parameters:
      - name: page
        in: path
        description: 
        required: true
        schema:
          type: integer
          format: int64
      - name: page_size
        in: path
        description: 
        required: true
        schema:
          type: integer
          format: int64
      responses:
        200: 
          description: List of courses
          content:
            application/json:
              schema:
                type: array
                items: 
                  $ref: '#/components/schemas/Courses'
        400:
          description: Bad request
          content: {code:400_BAD_REQUEST}
    post:
      tags:
        - Courses
      summary: Add a new courses to the store
      operationId: addCourses
 /courses/{id}:
    get:
        tags:
          - Courses
        operationId: getCourses
        summary: Get one courses
        description: Get courses with details
        parameters:
        - name: Id
          in: path
          description: ID of courses
          required: true
          schema:
            type: integer
            format: int64
        responses:
          200: 
            description: List of courses
            content:
              application/json:
                schema:
                  type: array
                  items: 
                    $ref: '#/components/schemas/Courses'
          400:
            description: Bad request
components:
  schemas:
    CreateStudent:
      type: object
      properties:
        name:
          type: string
          example: "Rakoto"
        birth_date:
          type: string
          format: date
          example: "2022-01-01"
    Student:
      allOf:
        - $ref: '#/components/schemas/CreateStudent'
      type: object
      properties:
        id:
          type: integer
          example: 10
    CreateCourses:
      type: object
      properties:
        name:
          type: string
        teacher:
          type: string
        createDatetime:
          type: date
